body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ruda;', 'Museo Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff7fb;
}
a {
  text-decoration: none;
  color: #5c6370;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
